<h1>Edit an Article</h1>
<!-- FORM POST -->
<%= form_for @article do |t| %>
    <p>
        <%= t.label :title %>
        <%= t.text_field :title %>
    </p>
    <p>
        <%= t.label :description %>
        <%= t.text_area :description %>
    </p>
    <p>
        <%= t.submit %>
    </p>
<% end %>
