<h1>Listing Articles</h1>

<table>
    <tr>
        <td>Title</td>
        <td>Description</td>
    </tr>
    <% @article.each do |item| %>
    <tr>
        <td>
            <%= item.title %>
        </td>
        <td>
            <%= item.description %>
        </td>
        <td>
            <%= link_to "Edit", edit_article_path(item.id) %>
        </td>
    </tr>
    <% end %>
</table>
