<h1>Create an Article</h1>

<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<!-- FORM POST -->
<%= form_for @article do |t| %>
    <p>
        <%= t.label :title %>
        <%= t.text_field :title %>
    </p>
    <p>
        <%= t.label :description %>
        <%= t.text_area :description %>
    </p>
    <p>
        <%= t.submit %>
    </p>
<% end %>

<!--
FORM GET
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
 -->
