<!DOCTYPE html>
<html>
  <head>
    <title>Blog01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>

    <ul>

    <li><%= msg %></li>

    </ul>

    <% end %>

    <%= yield %>
  </body>
</html>
